<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Dados Oracle</title>
</head>

<body>
    <h1>Download Dados Oracle</h1>
    <label for="startDate">Data de Início:</label>
    <input type="date" id="startDate" name="startDate">
    <label for="endDate">Data de Fim:</label>
    <input type="date" id="endDate" name="endDate">
    <button onclick="downloadExcel()">Baixar Dados</button>

    <script>
        function downloadExcel() {
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;
            if (!startDate || !endDate) {
                alert('Por favor, selecione as datas de início e fim.');
                return;
            }
            window.location.href = `/sigitm/oracle-data?startDate=${startDate}&endDate=${endDate}`;
        }
    </script>
</body>

</html>